<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Projects</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Edit</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="title">Title *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="title"
                                            placeholder="Enter Title *"
                                            :value="item.title"
                                            @input="updateTitle"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <vue-ckeditor
                                            name="description"
                                            :id="'description'"
                                            :value="item.description"
                                            @input="updateDescription"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="status">Status *</label>
                                    <v-select
                                            name="status"
                                            @input="updateStatus"
                                            :value="item.status"
                                            :options="statusEnum"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="client_name">Client name *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="client_name"
                                            placeholder="Enter Client name *"
                                            :value="item.client_name"
                                            @input="updateClient_name"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="location">Location *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="location"
                                            placeholder="Enter Location *"
                                            :value="item.location"
                                            @input="updateLocation"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="image">Image</label>
                                    <input
                                            type="file"
                                            class="form-control"
                                            @change="updateImage"
                                            multiple="multiple"
                                    >
                                    <ul v-if="item.image || item.uploaded_image" class="list-unstyled">
                                        <li v-for="image in item.uploaded_image">
                                            {{ image.file_name }}
                                            <button class="btn btn-xs btn-danger"
                                                    type="button"
                                                    @click="removeUploadedImage($event, image.id);"
                                            >
                                                Remove file
                                            </button>
                                        </li>
                                        <li v-for="(image, index) in item.image">
                                            {{ image.name }}
                                            <button class="btn btn-xs btn-danger"
                                                    type="button"
                                                    @click="removeImage($event, index);"
                                            >
                                                Remove file
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('ProjectsSingle', ['item', 'loading', 'statusEnum']),
    },
    created() {
        this.fetchData(this.$route.params.id)
    },
    destroyed() {
        this.resetState()
    },
    watch: {
        "$route.params.id": function() {
            this.resetState()
            this.fetchData(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions('ProjectsSingle', ['fetchData', 'updateData', 'resetState', 'setTitle', 'setDescription', 'setStatus', 'setClient_name', 'setLocation', 'setImage', 'destroyImage', 'destroyUploadedImage']),
        updateTitle(e) {
            this.setTitle(e.target.value)
        },
        updateDescription(value) {
            this.setDescription(value)
        },
        updateStatus(value) {
            this.setStatus(value)
        },
        updateClient_name(e) {
            this.setClient_name(e.target.value)
        },
        updateLocation(e) {
            this.setLocation(e.target.value)
        },
        removeImage(e, id) {
            this.$swal({
                title: 'Are you sure?',
                text: "To fully delete the file submit the form.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Delete',
                confirmButtonColor: '#dd4b39',
                focusCancel: true,
                reverseButtons: true
            }).then(result => {
                if (typeof result.dismiss === "undefined") {
                    this.destroyImage(id);
                }
            })
        },
        updateImage(e) {
            this.setImage(e.target.files);
            this.$forceUpdate();
        },
        removeUploadedImage (e, id) {
        this.$swal({
          title: 'Are you sure ? ',
          text: "To fully delete the file submit the form.",
          type: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Delete',
          confirmButtonColor: '#dd4b39',
          focusCancel: true,
          reverseButtons: true
        }).
        then(result => {
            if (typeof result.dismiss === "undefined") {
                this.destroyUploadedImage(id);
            }
        })
        },
        submitForm() {
            this.updateData()
                .then(() => {
                    this.$router.push({ name: 'projects.index' })
                    this.$eventHub.$emit('update-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
